.timer {
    position: absolute;
    top: 10px;
    right: 10px;
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
}

.class-wrap {
    margin: 100px auto 0 auto;
    max-width: 600px;
}

.intro {
    text-align: center;
}

.hide {
    display: none;
}

.choice {
    display: block;
    font-size: 14pt;
    border-left: 1px solid black;
    border-radius: 15px;
    background-color: #06aed5;
    color: white;
}